{{#if intro}}
    <h1 class="indie">Authenticate via
        <span class="spotify">Spotify</span> or
        <span class="lastfm">Lastfm</span>
        or just watch some videos right away</h1>
{{/if}}

{{#if auth}}
    <div class="auth">
        <a class="spotify-button js-spotify-login">Login With Spotify</a>
        <div class="login">
            <input type="text" class="service-input spotify js-spotify-input">
            <i class="fas fa-check-circle spotify pointer js-confirm-spotify"></i>
        </div>
        <a class="lastfm-button js-lastfm-login">Input Lastfm Username</a>
        <div class="login">
            <input type="text" class="service-input lastfm js-last-input">
            <i class="fas fa-check-circle lastfm pointer js-confirm-lastfm"></i>
            <span class="js-no-user none">Sorry! That username can't be found...</span>
        </div>
    </div>
{{/if}}

{{#unless auth}}
    <div class="now-playing">
        <div><img class="playing-logo {{service}}" src="/img/{{service}}.png" alt="{{service}} icon"></div>
        <i class="fas fa-volume-up {{service}}"></i>
        <span>{{filter}}</span>
    </div>
{{/unless}}

<div id="player"></div>

<script>
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    let player;
    window.player = player;

    /**
     * On YouTubeIframeAPIReady
     * @desc
     * bind to the window to make sure it is evoked globally
     * @see https://developers.google.com/youtube/iframe_api_reference
     * @see https://stackoverflow.com/questions/12256382/youtube-iframe-api-not-triggering-onyoutubeiframeapiready
     * https://stackoverflow.com/questions/19732363/youtube-iframe-api-behavior-is-inconsistent-nondeterministic
     */
    function onYouTubeIframeAPIReady () {

        player = new window.YT.Player('player', {
            events: {
                onReady: window.onPlayerReady,
                onStateChange: window.onPlayerStateChange,
            },
            height: '390',
            videoId: window.id !== '' ? window.id : 'M7lc1UVf-VE',
            width: '640',
        });

    };
</script>

{{#unless auth}}
    <div class="sidebar indie">
        <div class="js-profile profile"></div>
        <ul class="links">
        {{#each links}}
            <li>
                <a class="link" href="/{{../service}}/{{../userId}}/{{this.link}}">
                    <i class="{{../service}} fab fa-youtube fa-3x"></i>
                    <span class="link-text">{{this.filter}}</span>
                </a>
            </li>
        {{/each}}
        </ul>
    </div>

{{/unless}}

{{#if tracks}}
    <div class="tracks">
        {{tracks.artist}} - {{tracks.name}}
    </div>
{{/if}}

<script type="text/javascript">
    var userId = {{{json userId}}};
    var videos = {{{json videos}}};
</script>


