<h1>{{intro}}</h1>

{{#if auth}}
    <div class="auth">
        <a class="spotify-button js-spotify-login">Login With Spotify</a>
        <input type="text" class="service-input js-spotify-input">
        <a class="lastfm-button js-lastfm-login">Login With LastFM</a>
        <input type="text" class="service-input js-last-input">
    </div>
{{/if}}

<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
<div id="player"></div>
{{#if tracks}}
    <div class="tracks">
        {{tracks.artist}} - {{tracks.name}}
    </div>
{{/if}}

<script type="text/javascript">
    var userId = {{{json userId}}};
    var videos = {{{json videos}}};
</script>


